CHAIN_A_RPC=http://127.0.0.1:8545
CHAIN_B_RPC=http://127.0.0.1:9545
RUNTIME_MODE=besu
PROOF_POLICY=storage-required
USE_BESU_KEYS=true
DEMO_UI_PORT=5173
DEMO_PACKET_TIMEOUT_HEIGHT=1000000
UNSAFE_LOCAL_DEMO=false
BESU_ENABLE_ADMIN_DEBUG=false
BESU_DOCKER_IMAGE=hyperledger/besu:24.10.0
